@import "../../styles/variables/variables.scss";
@import "../../styles/media-query/media-query.scss";
@import "../../styles/animations/animations.scss";

.container {
  background-color: $background-second-color;
  box-shadow: 0 1px 8px $background-fourth-color;
  border-radius: 4px;
  padding: 2rem;
  margin: 2rem 4rem;
  cursor: pointer;

  &:hover {
    @include card-hover($background-fourth-color);
  }

  .card {
    h1 {
      text-align: center;
      color: $font-second-color;
    }

    .contents {
      display: flex;
      align-items: center;
      padding: 2rem;

      .image {
        display: flex;
        justify-content: "flex-end";
        margin-left: 2rem;
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 4rem;

        .time {
          font-size: $font-first-half-size;
          margin: 1rem 0;
          width: 100%;
          text-align: center;

          span {
            color: $font-third-color;
            font-weight: bold;
          }
        }

        .summary {
          margin: 1rem 0;
          font-size: $font-first-half-size;
          width: 100%;
          text-align: center;

          span {
            color: $font-third-color;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@include posts-mobile {
  .container {
    margin: 2rem 2rem;
    .card {
      .contents {
        .image {
          display: none;
        }
        .content {
          .time {
            font-size: $font-first-half-size;
          }
          .summary {
            font-size: $font-first-half-size;
          }
        }
      }
    }
  }
}
