@import "../../styles/variables/variables.scss";

.container {
  background-color: $background-second-color;
  box-shadow: 0 1px 8px white;
  padding: 2rem;
  margin: 2rem;

  .card {
    background-color: white;

    h1 {
      text-align: center;
      color: $font-third-color;
    }
  }
}
