@import "../../styles/variables/variables.scss";
@import "../../styles/media-query/media-query.scss";

.container {
  background-color: $background-second-color;
  box-shadow: 0 1px 8px $background-fourth-color;
  border-radius: 4px;
  padding: 2rem;
  margin: 2rem;
  cursor: pointer;

  .card {
    h1 {
      text-align: center;
      color: $font-second-color;
    }

    .contents {
      display: flex;
      align-items: center;

      .image {
        margin: 0 1rem;
        height: 100%;
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .time {
          font-size: $font-first-half-size;
          margin: 1rem 0;
          width: 100%;

          span {
            color: $font-third-color;
            font-weight: bold;
          }
        }

        .summary {
          margin: 1rem 0;
          font-size: $font-first-half-size;
          width: 100%;

          span {
            color: $font-third-color;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@include posts-mobile {
  .container {
    .card {
      .contents {
        .content {
          .time {
            font-size: $font-first-half-size;
          }
          .summary {
            font-size: $font-first-half-size;
          }
        }
      }
    }
  }
}
