@import "../../../styles/variables/variables.scss";

.skill {
  padding: 1rem 0;
  box-shadow: 0 1px 8px $background-fourth-color;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h3 {
    box-shadow: 0 1px 8px green;
    justify-self: center;
  }
}
