@import "../../../styles/variables/variables.scss";

.container {
  background-color: $background-third-color;
  padding: 2rem 6rem;

  h1 {
    text-align: center;
    padding-bottom: 2rem;
  }

  .skills {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}
