@import "../../styles/variables/variables.scss";
@import "../../styles/mixins/mixins.scss";

.footer {
  text-align: center;
  background-color: $background-first-color;
  padding: 1.5rem 0;

  ul {
    display: flex;
    justify-content: center;

    li {
      margin: 0 1rem;
      color: $font-first-color;

      a {
        color: $font-second-color;

        &:hover {
          color: $font-first-color;
        }
      }
    }
  }
}

@include footer-mobile {
  .footer {
    ul {
      flex-direction: column;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}
