@import "../../styles/variables/variables.scss";
@import "../../styles/media-query/media-query.scss";

.footer {
  text-align: center;
  background-color: $background-first-color;
  padding: 1.5rem 0;

  h1 {
    padding: 1.5rem 0;
    color: $font-third-color;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      margin: 0 1rem;
      color: $font-first-color;
      font-size: $font-first-size;
      padding-bottom: 1.5rem;

      a {
        color: $font-second-color;

        &:hover {
          color: $font-third-color;
        }
      }
    }
  }

  p {
    color: $font-third-color;
  }
}

@include footer-mobile {
  .footer {
    ul {
      flex-direction: column;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}
