@import "../../styles/variables/variables.scss";
@import "../../styles/mixins/mixins.scss";

.footer {
  text-align: center;
  background-color: $background-first-color;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-evenly;
}

@include footer-mobile {
  .footer {
    flex-direction: column;
    a {
      margin-bottom: 1rem;
    }
  }
}
