// Background colors
$background-first-color: #121314;
$background-second-color: #4c4c4c;
$background-third-color: #181a1b;

// Font colors
$font-first-color: #123b3f;
$font-second-color: #fff;
$font-third-color: #79b6c7;

// Neon Fonts
$font-green-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
  0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;

// Font size
$font-first-size: 1rem;
$font-second-size: 1.5rem;
$font-third-size: 2rem;
$font-fourth-size: 2.5rem;
