// Background colors
$background-first-color: #43d8e8;
$background-second-color: #180932;
$background-third-color: #7a1b70;
$background-fourth-color: #fff;
$background-fifth-color: #43d8c8;

// Font colors
$font-first-color: #123b3f;
$font-second-color: #fff;
$font-third-color: #79b6c7;

// Font size
$font-first-size: 1rem;
$font-second-size: 1.5rem;
$font-third-size: 2rem;
$font-fourth-size: 2.5rem;
