// for in custom css
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
  @content;
}

// function to include keyframes
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

// slidein
@mixin slidein {
  @keyframes slidein {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

// Hover text
@mixin text-hover {
  text-shadow: 2px 2px $background-fourth-color;
  transform: scale(0.6);
}

// Hover card
@mixin card-hover($background) {
  box-shadow: 0 6px 10px $background;
  transform: scale(1.05);
}

// Hover button
@mixin button-hover {
  box-shadow: 0 5px 10px $background-fourth-color;
  transform: scale(0.8);
  cursor: pointer;
}

// Birds animations
@mixin fly-cycle {
  @keyframes fly-cycle {
    100% {
      background-position: -900px 0;
    }
  }
}

@mixin fly-right-one {
  @keyframes fly-right-one {
    0% {
      transform: scale(0.3) translateX(-10vw);
    }

    10% {
      transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
      transform: translateY(0vh) translateX(20vw) scale(0.5);
    }

    30% {
      transform: translateY(4vh) translateX(30vw) scale(0.6);
    }

    40% {
      transform: translateY(2vh) translateX(40vw) scale(0.6);
    }

    50% {
      transform: translateY(0vh) translateX(50vw) scale(0.6);
    }

    60% {
      transform: translateY(0vh) translateX(60vw) scale(0.6);
    }
    70% {
      transform: translateY(0vh) translateX(70vw) scale(0.6);
    }
    80% {
      transform: translateY(0vh) translateX(80vw) scale(0.6);
    }
    90% {
      transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
    92% {
      transform: translateY(0vh) translateX(92vw) scale(0.6);
    }

    100% {
      transform: translateY(0vh) translateX(100vw) scale(0.6);
    }
  }
}

@mixin fly-right-two {
  @keyframes fly-right-two {
    0% {
      transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
      transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
      transform: translateY(-4vh) translateX(20vw) scale(0.6);
    }

    30% {
      transform: translateY(1vh) translateX(30vw) scale(0.45);
    }

    40% {
      transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
      transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
      transform: translateY(0vh) translateX(51vw) scale(0.45);
    }

    100% {
      transform: translateY(0vh) translateX(100vw) scale(0.45);
    }
  }
}
