@import "../styles/variables/variables.scss";

.container {
  min-height: 100vh;
  background-color: $background-third-color;
  padding: 4rem 4rem;

  .post {
    border-radius: 4px;
    box-shadow: 0 1px 8px $background-fourth-color;
    background-color: $background-second-color;
    padding: 2rem;

    .title {
      text-align: center;
      padding: 2rem 0;
      color: $font-second-color;
      font-size: $font-fourth-size;
    }

    .summary {
      font-size: $font-first-half-size;
      text-align: center;
    }

    .time {
      padding: 1rem 0;
      font-size: $font-first-half-size;
      text-align: center;

      span {
        color: $font-third-color;
      }
    }

    .reading {
      font-size: $font-first-half-size;
      padding-bottom: 2rem;
      text-align: center;
      span {
        color: $font-third-color;
      }
    }

    .content {
      padding: 3rem;
      margin-bottom: 2rem;
      line-height: 2.5rem;
    }
  }
}
