@import "../../styles/variables/variables.scss";

.social {
  padding-top: 2rem;
  justify-content: center;
  display: flex;
  justify-content: center;

  li {
    margin: 0 1rem;

    a {
      color: $font-second-color;

      &:hover {
        color: $font-first-color;
      }
    }
  }
}
