@import "../../../styles/variables/variables.scss";

.container {
  // footer stay mf down >:)
  min-height: 80vh;
  background-color: $background-third-color;
  padding: 4rem 0;

  h1 {
    text-align: center;
    color: $font-third-color;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-third-color;
    font-size: $font-second-size;
    margin-top: 2rem;

    input {
      padding: 0.6rem;
      background-color: $background-first-color;
      border-radius: 4px;
      color: $font-second-color;
      font-size: $font-first-size;

      &::placeholder {
        color: $font-third-color;
        font-size: $font-first-size;
      }
    }
  }

  .none {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: $font-second-color;
    font-size: $font-second-size;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  button {
    margin: 3rem auto;
    display: block;
    padding: 0.8rem;
    background-color: $background-second-color;
    box-shadow: 0 1px 8px $background-fourth-color;
    color: $font-third-color;
    border-radius: 4px;
    font-size: $font-second-size;
  }
}
